<footer class="bg-dark text-white text-center p-3 mt-5">
<<<<<<< HEAD
    <p class="mb-0">&copy; 2025 Tecno-Fix. Todos los derechos reservados.</p>
</div>
=======
        <p class="mb-0">&copy; 2025 Tecno-Fix. Todos los derechos reservados.</p>
    </div>
>>>>>>> 74d488db718575a4c172e2cd09fee6ea58808e48
</footer>